allegroTest/Debug/*
allegroTest/Release/*

allegroTest/allegroTest.sdf
allegroTest/allegroTest.opensdf
allegroTest/allegroTest.v*
allegroTest/.vs/*

allegroTest/allegroTest/allegro.log

allegroTest/allegroTest/Debug/*
allegroTest/allegroTest/Release/*

allegroTest/.vs/*
