SpaceHorse/Debug/*
SpaceHorse/Release/*

SpaceHorse/SpaceHorse.sdf
SpaceHorse/SpaceHorse.opensdf
SpaceHorse/SpaceHorse.v*
SpaceHorse/.vs/*

SpaceHorse/SpaceHorse/allegro.log

SpaceHorse/SpaceHorse/Debug/*
SpaceHorse/SpaceHorse/Release/*
